/* BACKGROUND */
.login-page {
  min-height: 100vh;
 background: linear-gradient(180deg, #d1e7ff 0%, #67acf1 70%, #1f86df 100%);
  display: flex;
  align-items: center;
  justify-content: center;

  /* Creates free space all around */
  padding: 40px;
}



/* CARD */
.login-card {
  background: #ffffff;
  border-radius: 24px;
  overflow: hidden;

  /* More "floating" feeling */
  max-width: 750px;
  width: 100%;

  box-shadow: 0 25px 50px rgba(0, 0, 0, 0.15);
}

/* LEFT IMAGE */
.image-section {
  background: #eaf2ff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 25px;
  
}

.image-section img {
  max-width: 100%;
  height: auto;
  border-radius:25px;
}

/* RIGHT FORM */
.form-section {
  padding: 50px 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-wrapper {
  width: 100%;
  text-align: left; 
}

/* Center logo and title only */
.form-wrapper .logo {
  display: block;
  margin: 0 auto;
}

/* LOGO */
.logo {
  max-width: 75px;
  margin: 0 auto;
  display: block;
}

/* TITLE */
.title {
  font-weight: 600;
  color: #1e3a8a;
}

/* INPUTS */
.form-control {
  border-radius: 12px;
  padding: 12px 14px;
}

/* FORGOT PASSWORD */
.forgot-password {
  font-size: 14px;
  color: #2563eb;
  text-decoration: none;
}

.forgot-password:hover {
  text-decoration: underline;
}

/* SIGN IN BUTTON */
.btn-signin {
  background-color: #0253a0;
  color: white;
  border-radius: 12px;
  padding: 14px;
  font-weight: 500;
  transition: background 0.3s ease, transform 0.2s ease;
}

.btn-signin:hover {
  background-color: #2973b9;
  transform: translateY(-1px);
}
