<div class="dashboard-container">
    <div class="mb-4">
        <h2 class="page-title">Mon espace</h2>
        <span class="page-subtitle">Vue globale de votre activité</span>
    </div>

    <!-- Stats -->
    <div class="grid grid-cols-12 gap-8">
        <app-employee-stats-widget class="contents"></app-employee-stats-widget>
    </div>

    <!-- Requests Table -->
    <div class="grid grid-cols-12 mt-6">
        <div class="col-span-12">
            <app-employee-requests-widget></app-employee-requests-widget>
        </div>
    </div>
</div>
